<div class="container p-2" [ngClass]="forgetPasswordFlag == true ? '' : 'd-none' ">
  <div class="row">
    <div class="col-sm-10 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title card-signin-style">Forgot Password</h3>
          <form #loginForm="ngForm" (submit)="forgotPassword(loginForm)">
            <div class="row" *ngIf="errorMessage != ''">
              <div class="col">
                <div class="alert fade show mt-2 mb-2 alert-danger">
                  <strong>{{ errorMessage }}</strong>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <div class="mb-3">
                  <label for="user-name">Enter Username <span class="text-danger">*</span></label>
                  <input type="text" id="user-name" name="username" class="form-control" placeholder="Username" required
                    [(ngModel)]="username" #user="ngModel" minlength="2">
                  <div *ngIf="user.errors?.required==true && user.touched==true"><small class="text-danger">Username is
                      required</small></div>
                  <div class="text-danger" *ngIf="user.errors?.minlength"><small> User Name must be at
                      least 2 characters long.</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="userRole">Enter Your Registration Type <span class="text-danger">*</span></label>
                  <select class="form-control" name="userRole" #roles="ngModel" [(ngModel)]="role">
                    <option value='patient'>PATIENT</option>
                    <option value='admin'>ADMIN</option>
                    <option value=doctor>DOCTOR</option>
                  </select>
                  <div *ngIf="roles.value == ' ' && roles.touched==true"> <small class="text-danger">Select atleast one
                      category</small></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col d-flex justify-content-center">
                <div>
                  <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid"
                    type="submit">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-2" [ngClass]="securityFlag == true ? '' : 'd-none' ">
  <div class="row">
    <div class="col-sm-10 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title card-signin-style">Security Question</h3>

          <div class="row" [ngClass]="errorMessage == 'Password changed click to login' ? '' : 'd-none' ">
            <div class="col">
              <div class="alert fade show mt-2 mb-2 alert-success">
                <strong>{{ errorMessage }}</strong>
              </div>
            </div>
          </div>

          <div class="row" [ngClass]="errorMessage == 'Security policy not qualified' ? '' : 'd-none' ">
            <div class="col">
              <div class="alert fade show mt-2 mb-2 alert-danger">
                <strong>{{ errorMessage }}</strong>
              </div>
            </div>
          </div>

          <form #securityForm="ngForm" (submit)="securityCheck(securityForm)">
            <div class="row mt-4">
              <div class="col">
                <div class="mb-3">
                  <label for="securityQues">Security Question <span class="text-danger">*</span></label>
                  <input type="text" id="securityQues" name="securityQues" class="form-control" required
                    [(ngModel)]="securityQuestion" #secQues="ngModel" value="securityQuestion" disabled>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="answer">Enter Your Answer <span class="text-danger">*</span></label>
                  <input type="text" id="answer" name="answer" class="form-control" required [(ngModel)]="answer">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="password">Enter the New Password <span class="text-danger">*</span></label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                    #psd="ngModel" required [(ngModel)]="password">

                  <div *ngIf="psd.errors?.required==true && psd.touched==true"><small class="text-danger">Password is
                      required</small></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col d-flex justify-content-center">
                <div>
                  <button class="btn btn-lg btn-primary btn-block" [disabled]="!securityForm.valid"
                    type="submit">Submit</button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>